@media screen and (min-width: 768px) {
  .pt1-fr {
    padding-left: 0.75em;
  }  
}

.pt1-fr {
  min-height: 100vh;
}

.pt1-cont {
  min-height: calc(100vh - 51px);
  display: flex;
  justify-content: center;
  align-items: center;
}
