.gamefr {
  display: flex;
  min-height: 100vh;
  overflow: hidden;
}

@media screen and (orientation: landscape) {
  .gamefr {
    flex-direction: row;
    overflow-x: hidden;
  }
}

@media screen and (orientation: portrait) {
  .gamefr {
    flex-direction: column;
  }
}

@media screen and (orientation: portrait) and (max-width: 768px) {
  .gamefr.iscomm {
    padding-top: 3.75em;
  }
  
}

